[ui]
style = "path/to/stylesheet"
layout = "path/to/xmlfile"

[auth]
readCommand = "readCommandID"
submit = "submitID"
cancel = "cancelID"
errorPrompt = "errorPromptID"
infoPrompt = "infoPromptID"
initialAnswer = "initialAnswerID"
pamPromptAnswer = "promptAnswerID"

[behaviors]
poweroff = "powerbuttonID"
suspend = "suspendbuttonID"
reboot = "rebootbuttonID"
commandList = "commandListID"

[state.initial]
visible = []

[state.pam]
visible = []

[session]
environments = []
